/* 
	CSD 380 DevOps Module 10.2 Assignment
	Team Members:
	Tatiana Tan
	Julie Sakai
	Tazmin Somerville
*/

body {
	background-color: #ecd4e8;
	font-family: Arial, sans-serif;
	margin: 2rem;
}

blockquote {
	border-left: 4px solid #333;
	padding-left: 1rem;
	color: #555;
	font-style: italic;
}
